body {
    background-image: url('../images/peaceful-wooden-dock-by-the-lake-yk8fm83inrujyw4r.jpg');
    background-size: cover;
    background-position: center center;

}

.pad-top{
    padding-top: 10%;

}