body{
    background-image: url('images/calm-sea-2195766_1280.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}