<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MedTrakker Plus - Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
  <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
  </style>
</head>
<body>

<div class="p-3 bg-info text-center">
  <h1>MedTrakker Plus</h1>
  <p>The only app to keep you stat!</p>
</div>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container justify-content-center">

    <ul class="navbar-nav mx-auto">
      <li class="nav-item mx-5">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link" th:href="@{/login}">Sign In</a>
      </li>
      <li class="nav-item mx-5">
        <a class="nav-link active" th:href="@{/register}">Sign Up</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <form th:object="${user}" th:action="@{/register}" method="POST">
    <div class="mb-3 mt-3 w-25 mx-auto">
      <label for="fName" class="form-label">First Name:</label>
      <input type="text" th:field="*{firstName}" class="form-control" id="fName" placeholder="Enter first name" name="fName">
      <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
    </div>
    <div class="mb-3 w-25 mx-auto">
      <label for="lName" class="form-label">Last Name:</label>
      <input type="text" th:field="*{lastName}" class="form-control" id="lName" placeholder="Enter last name" name="lName">
      <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
    </div>
    <div class="mb-3 w-25 mx-auto">
      <label for="email" class="form-label">Email:</label>
      <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Enter email" name="email">
      <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    </div>
    <div class="mb-3 w-25 mx-auto">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" th:field="*{password}" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
    </div>
    <div class="mb-3 w-25 mx-auto">
      <label for="confirmpwd" class="form-label">Confirm Password:</label>
      <input type="password" th:field="*{confirmPassword}" class="form-control" id="confirmpwd" placeholder="Confirm password" name="confirmpwd">
      <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
      <br/>

      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>
</div>
</body>
</html>