@import 'tailwindcss/base'; 
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities'; 

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-us {
  background-image: url('https://i.imgur.com/M1bGxGi.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

#about-us::before {
  background-color: rgba(112, 112, 255, 0.5);
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero-image {
  width: 100%;
  height: auto;
}